<meta charset="utf-8"/>
<div style="padding: 15px 0;">
	<a href="#/role" class="btn btn-default"><i class='fa fa-reply'></i>&nbsp;&nbsp;返回</a>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary" data-collapsed="0">
            <div class="panel-heading">
                <div class="panel-title">
                 	<span ng-bind=" 'i18n.common.update' | translate"></span>
                </div>
                <div class="panel-options">
                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                </div>
            </div>

            <div class="panel-body">
                <form name="roleForm" class="form-horizontal form-groups-bordered" novalidate ng-submit="submit()">
                    <!-- 用户名 -->
                    <div class="form-group" ng-class="{'has-error': roleForm.name.$invalid && (roleForm.name.$dirty || roleForm.$submitted),'has-success': roleForm.name.$valid && (roleForm.name.$dirty || roleForm.$submitted)}">
                        <label for="field-1" class="col-sm-3 control-label"><span ng-bind=" 'i18n.role.name' | translate"/></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="field-1" name="name" ng-model="fields.name" required/>
                        </div>
                        <div class="col-sm-3">
                            <span ng-show="roleForm.name.$error.required && (roleForm.name.$dirty || roleForm.$submitted)" class="help-block">角色名称必填.</span>
                        </div>
                    </div>             
                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label"><span ng-bind=" 'i18n.role.isBuiltin' | translate"/></label>
                        <div class="col-sm-6">
                            <select class="form-control" id="field-2" name="isBuiltin"  ng-init="fields.isBuiltin = isBuiltinItems[0]"  ng-model="fields.isBuiltin" ng-options="isBuiltinItem.name for isBuiltinItem in isBuiltinItems"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-success" ng-click="validateBeforSubmit()"><span ng-bind=" 'i18n.common.save' | translate"/></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>