<meta charset="utf-8"/>
<div style="padding: 15px 0;">
	<a href="#/allotRole" class="btn btn-default"><i class='fa fa-reply'></i>&nbsp;&nbsp;<span ng-bind=" 'i18n.common.back' | translate"/></a>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary" data-collapsed="0">
            <div class="panel-heading">
                <div class="panel-title">
                 	<span ng-bind=" 'i18n.common.update' | translate"></span>
                </div>
                <div class="panel-options">
                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                </div>
            </div>

            <div class="panel-body">
                <form name="allotRoleForm" class="form-horizontal form-groups-bordered" novalidate ng-submit="submit()">
                    
                     <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label"><span ng-bind=" 'i18n.allotRole.userId' | translate"></span></label>
                        <div class="col-sm-6">
                         	<select class="form-control" id="field-1" name="userId" ng-init="fields.userId = userIdItems[0]" ng-model="fields.userId" ng-options="userIdItem.id as userIdItem.name for userIdItem in userIdItems" required disabled="disabled"></select>
                        </div>
                        <div class="col-sm-3">
                            <span ng-show="allotRoleForm.userId.$error.required && (allotRoleForm.userId.$dirty || allotRoleForm.$submitted)" class="help-block">请选择应用组.</span>
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <label for="field-2" class="col-sm-3 control-label"><span ng-bind=" 'i18n.allotRole.roleId' | translate"></span></label>
                        <div class="col-sm-6">
                         	<select class="form-control" id="field-2" name="roleId" ng-init="fields.roleId = roleIdItems[0]" ng-model="fields.roleId" ng-options="roleIdItem.id as roleIdItem.name for roleIdItem in roleIdItems" required></select>
                        </div>
                        <div class="col-sm-3">
                            <span ng-show="allotRoleForm.roleId.$error.required && (allotRoleForm.roleId.$dirty || allotRoleForm.$submitted)" class="help-block">请选择应用组.</span>
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-success"><span ng-bind=" 'i18n.common.save' | translate"/></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>