<meta charset="utf-8"/>
<div style="padding: 15px 0;">
	<a href="#/user/add" class="btn btn-success"><i class='fa fa-plus-square-o'></i>&nbsp;&nbsp;<span ng-bind=" 'i18n.common.add' | translate"></span></a>
</div>
<table class="table table-bordered datatable" customer-side-data-table class="display" cellspacing="0" width="100%">
   	<thead>
    	<tr>
	        <th style="width: 50px;"><span ng-bind=" 'i18n.common.index' | translate"></span></th>
	        <th><span ng-bind=" 'i18n.user.loginName' | translate"></span></th>
	        <th><span ng-bind=" 'i18n.user.Name' | translate"></span></th>
	        <th><span ng-bind=" 'i18n.user.phone' | translate"></span></th>
	        <th><span ng-bind=" 'i18n.user.Email' | translate"></span></th>
	        <th><span ng-bind=" 'i18n.common.createTime' | translate"></span></th>
	        <th><span ng-bind=" 'i18n.common.updateTime' | translate"></span></th>
	        <th style="width: 60px;"><span ng-bind=" 'i18n.common.operation' | translate"></span></th>
    	</tr>
   	</thead>
   	<tbody>
   		<tr ng-repeat="data in tableData" on-repeat-over>
   			<td ng-bind="$index+1"></td>
   			<td ng-bind="data.loginName"></td>
   			<td ng-bind="data.name"></td>
   			<td ng-bind="data.phone"></td>
   			<td ng-bind="data.email"></td>
   			<td ng-bind="data.createTime"></td>
   			<td ng-bind="data.updateTime"></td>
   			<td >
   				<a ng-if="$index != 0" href="#/user/upd/{{data.id}}" class="btn btn-warning" uib-popover="修改" popover-trigger='mouseenter'><i class='fa fa-pencil-square-o'></i></a>&nbsp;
   				<a ng-if="$index != 0" href="javascript:void(0)" ng-click="openDelModal('/views/sysuser/delete.html',data.id)" class="btn btn-danger" uib-popover="删除" popover-trigger='mouseenter'><i class='fa fa-trash-o'></i></a>&nbsp;
   			</td>
   		</tr>
   	</tbody>
</table>
