<meta charset="utf-8" />
<div class="row">
		<div class="col-md-12" >
			<div class="col-md-8" style=" height:400px; overflow:auto">
				<table class="table table-bordered datatable" class="display" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th style="width:50px;font-weight:bold;font-size: 12px;"><span ng-bind=" 'i18n.allotMenu.select' | translate"/></th>
							<th style="font-weight:bold;font-size: 12px;"><span ng-bind=" 'i18n.allotMenu.roleName' | translate"/></th>
							<th style="font-weight:bold;font-size: 12px;"><span ng-bind=" 'i18n.allotMenu.isBuiltin' | translate"/></th>
							<th style="font-weight:bold;font-size: 12px;"><span ng-bind=" 'i18n.common.createTime' | translate"/></th>
							<th style="font-weight:bold;font-size: 12px;"><span ng-bind=" 'i18n.common.updateTime' | translate"/></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in tableData" on-repeat-over>
							<td><input type="radio" ng-model="fields.roleId" name="roleId" value="{{data.id}}" ng-click="selectRole(data.id)"></td>
							<td ng-bind="data.name"></td>
							<td ng-bind="data.isBuiltin"></td>
							<td ng-bind="data.createTime"></td>
							<td ng-bind="data.updateTime"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-4" style=" height:400px; overflow:auto">
				<table class="table table-bordered datatable" class="display" cellspacing="0" width="100%" >
					<thead>
						<tr>
							<th style="width:50px;font-weight:bold;font-size: 12px;"><span ng-bind=" 'i18n.allotMenu.select' | translate"/></th>
							<th style="font-weight:bold;font-size: 12px;"><span ng-bind=" 'i18n.allotMenu.menuName' | translate"/></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="lidata in ulData" on-repeat-over>
							<td><input type="checkbox" ng-checked="{{lidata.check}}" ng-click="updateSelection($event,lidata.menuId)"></td>
							<td ng-bind="lidata.name"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-sm-offset-4 col-sm-5">
			<button type="submit" class="btn btn-success" ng-click="openDelModal('/views/allotmenu/allotMenu.html')">保存</button>
		</div>
</div>
